.nav 
    nav#navigation.navbar.navbar-expand-lg.navbar-dark.pl-4(style='margin-top: 30px;')
    a.navbar-brand(href='#' style='color:navy') Home
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link(href='#' style='color:navy')
          | Recipes 
          span.sr-only (current)
        a.nav-item.nav-link(href='#' style='color:navy') Lifestyle
        a.nav-item.nav-link(href='#' style='color:navy') Videos
        a.nav-item.nav-link(href='#' style='color:navy') About